*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(17, 1, 1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    color: white;
    font-size: 40px;
    background: linear-gradient(to right, white , blue , green);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


span{
    background-image: url(./2989295.png);
    position: absolute;
    background-size: cover;
    animation: animate 8s linear infinite;
    pointer-events: none;
    transform: translate(-50%, -50%);





}

@keyframes animate {
    0%{
     transform: translate(-50%, -50%);
     opacity: 1;
     filter: hue-rotate(1turn);
    
    }
    100%{
       transform: translate(-50%, -3000%);
       opacity: 0;
       filter: hue-rotate(4turn);
      
    }
}